@font-face {
  font-family: "tactic-italic";
  src: url("../fonts/tacticTactic-Italic.eot");
  src: url("../fonts/tacticTactic-Italic.woff") format("woff"),
    url("../fonts/tacticTactic-Italic.ttf") format("truetype"),
    url("../fonts/tacticTactic-Italic.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "tactic-regular";
  src: url("../fonts/Tactic-Regular.eot");
  src: url("../fonts/Tactic-Regular.woff") format("woff"),
    url("../fonts/Tactic-Regular.ttf") format("truetype"),
    url("../fonts/Tactic-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
